<div class="m-3 ml-5 mr-5">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="row card margin-top">
      <div class="col-12">
        <span class="text-center"><b>Section 1. Employee Information and Attestation</b></span>
        <button type="submit" class="btn btn-primary m-1 mr-1 float-right">Next</button>
      </div>
    </div>
    <div class="row card margin-top">
      <h5 class="card-header bg-color">Personal Information</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-4">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group col-4">
            <label>Middle Name</label>
            <input type="text" formControlName="middleName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }" />
            <div *ngIf="submitted && f.middleName.errors" class="invalid-feedback">
              <div *ngIf="f.middleName.errors.required">Middle Name is required</div>
            </div>
          </div>
          <div class="form-group col-4">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5">
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
          </div>
          <div class="form-group col-2">
            <label>City</label>
            <input type="text" formControlName="city" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">City is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>State</label>
            <input type="text" formControlName="state" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div *ngIf="f.state.errors.required">State is required</div>
            </div>
          </div>
          <div class="form-group col-2">
            <label>ZIP Code</label>
            <input type="text" formControlName="zip" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" />
            <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
              <div *ngIf="f.zip.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-2">
            <label>Date Of Birth</label>
            <input type="text" formControlName="dob" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
              <div *ngIf="f.dob.errors.required">Date Of Birth is required</div>
            </div>
          </div>
          <div class="form-group col-4">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>Telephone No.</label>
            <input type="text" formControlName="telephoneNo" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.telephoneNo.errors }" />
            <div *ngIf="submitted && f.telephoneNo.errors" class="invalid-feedback">
              <div *ngIf="f.telephoneNo.errors.required">Telehphone Number is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>Security Code</label>
            <input type="text" formControlName="securityCode" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.securityCode.errors }" />
            <div *ngIf="submitted && f.securityCode.errors" class="invalid-feedback">
              <div *ngIf="f.securityCode.errors.required">Security code is required</div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <div class="row card  margin-top">
      <h5 class="card-header bg-color">Other Information</h5>
      <div class="card-body">
          <b>I attest, under penality of perjury, that i am(check one of the following boxes):</b><br>
          <input type="checkbox" id = 'citizen' name="" formControlName="citizen" (change) = 'selectCheckbox($event)'> <label> 1. A citizen of the United States</label><br>
          <input type="checkbox" id = 'noncitizen' name="" formControlName="noncitizen" (change) = 'selectCheckbox($event)'> <label> 2. A noncitizen national of the United States(See instructions).</label><br>
          <input type="checkbox" id = 'lawful' name="" formControlName="lawful" (change) = 'selectCheckbox($event)'> <label> 3. A lawful permanent resident (Alien Registration Number/USCIS Number):</label><br>
          <input type="checkbox" id = 'authorized' name="" formControlName="authorized" (change) = 'selectCheckbox($event)'> <label> 4. An alien authorized to work until (expiration date, if applicable, mm/dd/yyyy):</label><br>
      </div>
    </div>
  </form>
</div>